.one {
    width: 400px;
    height: 400px;
    background-color: #ccc;
    margin-left: 20px;
    float: left;
}
.tow {
    width: 400px;
    height: 400px;
    background-color: #ccc;
    margin-left: 20px;
    float: left;
}
.three {
    width: 400px;
    height: 400px;
    background-color: #ccc;
    margin-left: 20px;
    float: left;
}
.four {
    width: 400px;
    height: 400px;
    background-color: #ccc;
    margin-left: 20px;
    float: left;
}
