<div local-class="">
    <div local-class="one">
        1
    </div>
    <div local-class="tow">
        2
    </div>
    <div local-class="three">
        3
    </div>
    <div local-class="four">
        4
    </div>
</div>
{{outlet}}
