.navbar-text {
    margin: 10px 10px 0 0 ;
}

.account {
    cursor: pointer;
}

div.exit-area {
    display: none;
    position: absolute;
    right: -15px;
    top: 50px;
    width: 100px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    font-size: 16px;
    background-color: #515465;
    color: #ffffff;
    cursor: pointer;
}
