<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <div class="col-md-8 col-sm-8">
        <div class="navbar-header">
          <p local-class="navbar-text">
            <img src="/images/pharbers_logo_white.png" width="32" height="32">
          </p>
        </div>
        <p local-class="navbar-text">PHARBERS<br>Territorial Manage Simulation</p>
      </div>
      <div class="col-md-2 col-md-offset-2 col-sm-2 col-sm-offset-2">
        <p class="navbar-right" local-class="navbar-text" name="account">{{account}}</p>
        <div local-class="exit-area">
          <p>退出</p>
        </div>
      </div>
    </div>
  </div>
</div>
{{yield}}
